<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>ParqueosApp</title>
  </head>
  <body>
    <h1>Parqueos</h1>
    <div class="parqueos">
      <div class="sec">
        <div class="parqueo">
          <h1>#1</h1>
          <button>reservar</button>
        </div>
        <div class="parqueo">
          <h1>#2</h1>
          <button>reservar</button>
        </div>
      </div>
      <div class="sec"></div>
      <div class="sec">
        <div class="parqueo">
          <h1>#3</h1>
          <button>reservar</button>
        </div>
        <div class="parqueo">
          <h1>#4</h1>
          <button>reservar</button>
        </div>
      </div>
    </div>
  </body>
</html>
